<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FindbackServlet</servlet-name>
        <servlet-class>Servlet.FindbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindbackServlet</servlet-name>
        <url-pattern>/FindbackServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>Servlet.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/BookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BorrowServlet</servlet-name>
        <servlet-class>Servlet.BorrowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BorrowServlet</servlet-name>
        <url-pattern>/BorrowServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeUserServlet</servlet-name>
        <servlet-class>Servlet.ChangeUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeUserServlet</servlet-name>
        <url-pattern>/ChangeUserServlet</url-pattern>
    </servlet-mapping>
</web-app>